doctype html 
html 
    head  
        title  Vaibhav Dance Acadmey
        block style
        block script 
            script(src="")
body 
    nav#navbar
        ul
            div#logo
                img(src="../static/newLogo7.png")
                | VDA
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/info") Class Info]
            li #[a(href="/contact") Contact Us]

    block content 
    footer#footer
        | Copyright © 2021 #[a(href = "/") VaibhavDanceAcadmey.com] | All right reserved.